<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s4.board.notice.NoticeDAO">
  	<select id="getCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM NOTICE
  		
		<if test="kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
		<if test="kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
		<if test="kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
		
		
  	</select>
  
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R, BK.* FROM
			(SELECT* FROM NOTICE
				WHERE
					<choose>
						<when test="kind=='k1'">
							title
						</when>
						<when test="kind=='k2'">
							contents
						</when>
						<otherwise>
							writer
						</otherwise>
					</choose>
					LIKE '%' || #{search} || '%'
					
		ORDER BY NUM DESC)BK)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	
	<select id="getSelect" parameterType="BoardDTO" resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM=#{num}
	</select>
	
	<update id="setHitUpdate" parameterType="BoardDTO">
			update NOTICE set hits= hits+1 where num=#{num}
		</update>
	
	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO NOTICE(num, title, contents, writer, regDate, hits)
		VALUES(NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE FROM NOTICE WHERE NUM=#{num}
	</delete>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET title=#{title}, contents=#{contents}, writer=#{writer} 
  		WHERE num=#{num}
	</update>
  </mapper>