<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s4.board.notice.NoticeDAO">
  
  <update id="setCommentUpdate" parameterType="CommentsDTO">
  	update comments set contents=#{contents} where commentNum=#{commentNum}
  </update>
  
  
  <!-- 09-24 댓글 삭제 -->
  <delete id="setCommentDelete" parameterType="CommentsDTO">
  	delete comments where commentNum=#{commentNum}
  </delete>
  
  
  
  <!-- 09-23 페이징 카운트 commentNum의 갯수를 구하는 쿼리문 -->
  <select id="getCommentCount" parameterType="CommentsDTO" resultType="Long">
  	SELECT COUNT(commentNum) FROM COMMENTS
  	WHERE board=#{board} and num=#{num}
  </select>
  
  
  
  
  <!-- 한 페이지의 댓글 목록(리스트)출력 09-23 #{board}대신 'N'넣어도 가능 & 페이징처리 서브쿼리 --> 
  <select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
  	SELECT * FROM
	  	(SELECT rownum R, C.* FROM 
		  	(select * from comments
		  	where board=#{comments.board} and num=#{comments.num}
		  	order by commentnum desc) C)
	WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
  </select>
  
  
  <!-- 댓글 쿼리 작성 09-23 -->
  <insert id="setComment" parameterType="CommentsDTO">
  	INSERT INTO COMMENTS VALUES (comments_seq.nextval, #{num}, #{writer}, #{contents}, sysdate, #{board})
  </insert>
  
  
  
  
  <!-- ======== 파일 출력 쿼리 작성 09-15 ================= -->
  
  	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
  		select * from noticefiles where num=#{num}
  	</select>
  	
  <!-- ======== 파일 업로드 쿼리 작성 09-15 ================= -->
  
  	<insert id="setFile" parameterType="BoardFilesDTO">
  		insert into noticeFiles (fileNum, num, fileName, oriName)
  		values(files_seq.nextval, #{num}, #{fileName}, #{oriName})
  	</insert>
  	
  	
	<insert id="setInsert" parameterType="BoardDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
			select notice_seq.nextval from dual
		</selectKey>
		INSERT INTO NOTICE(num, title, contents, writer, regDate, hits)
		VALUES(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>
  	
<!-- ==setInsert쿼리의 밸류값에 NOTICE 시퀀스 컬럼을 변수num으로 변경====================== -->  	
  	
  	
  	<select id="getCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM NOTICE
  		
		<if test="kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
		<if test="kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
		<if test="kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
  	</select>
  
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R, BK.* FROM
			(SELECT* FROM NOTICE
				WHERE
					<choose>
						<when test="kind=='k1'">
							title
						</when>
						<when test="kind=='k2'">
							contents
						</when>
						<otherwise>
							writer
						</otherwise>
					</choose>
					LIKE '%' || #{search} || '%'
					
		ORDER BY NUM DESC)BK)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>

	<!--============= 09-16 SELECT Join =============== -->
	
	<resultMap type="NoticeDTO" id="getSelectResult">
		<id column="num" property="num" />
		<result column="title" property="title"/>
		<result column="contents" property="contents"/>
		<result column="writer" property="writer"/>
		<result column="regDate" property="regDate"/>
		<result column="hits" property="hits"/>
		<!-- 1:N관계, DTO내에 List가 멤버변수로 선언 -->
		<collection property="files" javaType="List" ofType="BoardFilesDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="num" property="num"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>

		</collection>
	</resultMap>
	
	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
		SELECT N.* , NF.*
		FROM NOTICE N 
		    LEFT JOIN 
		    NOTICEFILES NF
		ON (N.NUM = NF.NUM)
		WHERE N.NUM=#{num}
	</select>
	
	
	
	
	
	<update id="setHitUpdate" parameterType="BoardDTO">
			update NOTICE set hits= hits+1 where num=#{num}
		</update>

	
	
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE FROM NOTICE WHERE NUM=#{num}
	</delete>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET title=#{title}, contents=#{contents}, writer=#{writer} 
  		WHERE num=#{num}
	</update>
  </mapper>