<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s4.board.qna.QnaDAO">
  
  	<!--  ====== 파일 출력 쿼리 작성 09-15 ======== -->
  		<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
  			select * from qnafiles where num=#{num}
  		</select>
  
  
  	<!-- ====== 파일 업로드 쿼리 작성 09-15 ======== -->
  	
  		<insert id="setFile" parameterType="BoardFilesDTO">
  			insert into qnafiles (fileNum, num, fileName, oriName)
  			values(files_seq.nextval, #{num}, #{fileName}, #{oriName})
  		</insert>
  
		<insert id="setInsert" parameterType="BoardDTO">
			<selectKey order="BEFORE" resultType="Long" keyProperty="num">
				SELECT qna_seq.nextval FROM DUAL
			</selectKey>
			INSERT INTO QNA(NUM, TITLE, CONTENTS, WRITER, REGDATE, HITS, REF, STEP, DEPTH)
			VALUES(#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 0, qna_seq.currval, 0, 0)
		</insert>
  
	<!-- ==setInsert쿼리의 밸류값에 QNA 시퀀스 컬럼을 변수num으로 변경====================== -->





		<select id="getCount" resultType="Long" parameterType="Pager">
  			SELECT COUNT(num) FROM QNA
  			
  			<if test="kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
  			<if test="kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
  			<if test="kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
  			
  			
  		</select>
  
  
		<select id="getList" resultType="QnaDTO" parameterType="Pager">
			SELECT * FROM
			(SELECT ROWNUM R, BK.* FROM
				(SELECT * FROM QNA
				 WHERE 
				 	<choose>
				 		<when test="kind=='k1'">
				 			title
				 		</when>
				 		<when test="kind=='k2'">
				 			contents
				 		</when>
				 		<otherwise>
				 			writer
				 		</otherwise>
				 	</choose>
				 	LIKE '%' || #{search} || '%'
				  	
			ORDER BY REF DESC, STEP ASC)BK)
			WHERE R BETWEEN #{startRow} and #{lastRow}
			
		</select>
		
		<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
			SELECT * FROM QNA WHERE NUM=#{num}
		</select>
		
		
		<update id="setHitUpdate" parameterType="BoardDTO">
			update qna set hits= hits+1 where num=#{num}
		</update>
		
		
		
		
		<update id="setReplyUpdate" parameterType="QnaDTO">
			UPDATE QNA SET step=step+1 WHERE ref=#{ref} and step>#{step}
		</update>
		
		<insert id="setReply" parameterType="QnaDTO">
			INSERT INTO QNA(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS, REF, STEP, DEPTH)
			VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0, #{ref}, #{step}, #{depth})
		</insert>
		
  </mapper>